/* ==========================================================================
   Archive
   ========================================================================== */
.archive {
   .news-header {
      .header;
      .title {
         margin: 0;
      }
   }
   .news-marker {
      top: -4px;
      z-index: 100;
      .info-marker-down(@ch-green);
   }
   article.post  {
      margin: 0 0 20px 0;
      h2 {
         margin: 0;
         a {
            color: @ch-text-color;
            &:hover {
               color: @ch-blue;
            }
         }
      }
      img {
         .ch-img;
         .img-responsive;
         width: 100%;
      }
      .entry-meta {
         font-size: 0.9em;
         margin: 0 0 10px 0;
      }
   }
}
