/* ==========================================================================
   Common
   ========================================================================== */

.wrap {
   #gradient > .horizontal(@bg-gradient-left, @bg-gradient-right);
   min-height: 520px;
   margin: 0;
   padding: 0;
   @media (min-width: @screen-hs-min) {}
   @media (min-width: @screen-sm-min) {}
   @media (min-width: @screen-md-min) {
      padding-top: 80px;
   }
   @media (min-width: @screen-lg-min) {}
}


/* ==========================================================================
   Element : social-share
   ========================================================================== */

.social-share {
   margin: 15px 0;
   span {
      display: inline-block;
      vertical-align: top;
      padding-top: 4px;
      margin: 0 8px 0 2px;
   }
   ul {
      display: inline-block;
      .social-icons-inline(@size: 18px; @margin: 6px);
      li a {color: @ch-text-color-light; }
   }
}

/* ==========================================================================
   Bootstrap : table-responsive
   ========================================================================== */
.table-responsive {
   overflow: hidden;
   table{
   }
   thead {
      font-size: 1em;
      font-weight: bold;
      background-color: @bg-table-head-color;
      &> tr > th {
         padding: 10px 5px;
      }
   }
   tbody {
      font-size: 0.9em;
      tr:nth-child(even) {
         background-color: @bg-table-even-color;
      }
      tr:nth-child(odd) {
         background-color: @bg-table-odd-color;
      }
      tr:hover {
         background-color: @bg-table-hover-color;
      }
   }
}

/* ==========================================================================
   Bootstrap : panel
   ========================================================================== */

.panel-group {
   .panel {
      .border-top-radius(0);
   }
   .panel + .panel {
      margin-top: 0px;
   }
   .panel.panel-default {
      .caret {
         display: none;
      }
      .panel-heading {
         background-color: @panel-heading-color;
         color: snow;
         padding: 10px 15px;
         border: 0;
         display: block;
         position: relative;
         .border-top-radius(0);
         .panel-info-marker {
            .info-marker-down(@panel-heading-color);
            bottom: -30px;
            left: 50%;
            margin: 0;
            position: absolute;
            z-index: 10;
         }
         &.collapsed {
            background-color: @panel-heading-collapsed-color;
            color: @ch-text-color;
            &:hover {
              background-color: @panel-heading-hover-color;
              color: @ch-text-color;
              text-decoration: none;
            }
            .panel-title {
               font-weight: normal;
            }
            .panel-info-marker {
               display: none;
            }
         }
         .panel-title {
            font-weight: bold;
         }
      }
   }
}



/* ==========================================================================
   Page title:
   ========================================================================== */

.header {
   margin: 0;
   @media (min-width: @screen-hs-min) {}
   @media (min-width: @screen-sm-min) {}
   @media (min-width: @screen-md-min) {
      margin: 30px 0 0 0;
   }
   @media (min-width: @screen-lg-min) {}
   .title {
      background-color: @ch-green;
      color: #eee;
      display: block;
      text-align: center;
      padding: 20px 0;
      margin: 0 0 10px 0;
      @media (min-width: @screen-hs-min) {}
      @media (min-width: @screen-sm-min) {}
      @media (min-width: @screen-md-min) {
         margin: 0 0 20px 0;
      }
      @media (min-width: @screen-lg-min) {}
      h1 {
         font-family: @ch-title-font;
         font-size: @ch-title-font-size;
         margin: 0;
      }
   }
   .subtitle {
      p {
         // font-size: 1.2em;
         margin: 0 0 10px 0;
         @media (min-width: @screen-hs-min) {}
         @media (min-width: @screen-sm-min) {}
         @media (min-width: @screen-md-min) {
            margin: 0 0 20px 0;
         }
         @media (min-width: @screen-lg-min) {}
      }
   }
}

.entry-content {
   margin-top: 30px;
}
.entry-content img {
   margin-right: 0px;

   @media (min-width: @screen-lg-min) {}
   @media (min-width: @screen-sm-min) {
      margin: auto;
   }
   @media (min-width: @screen-md-min) {}
   @media (min-width: @screen-xs-min) {
      margin: auto;
   }

}
.entry-content a {
   /*position: relative;*/
}


/* ==========================================================================
   Header
   ========================================================================== */

/* .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   color: #aaa!important;
   background-color: transparent!important;
   border-bottom: 10px solid #e7e7e7;
}*/

header {
   .navbar {
      z-index: 9999;
      background-color: #181818;
      // background-size: 800px;
      // margin-top: -22px;
      height: auto;
      margin-bottom: 0;
      @media (min-width: @screen-hs-min) {}
      @media (min-width: @screen-sm-min) {
         background-color: transparent;
         background: url(/assets/img/banner_back.jpg) #04080E no-repeat bottom right;
      }
      @media (min-width: @screen-md-min) {
         height: 80px;
      }
      @media (min-width: @screen-lg-min) {}
      &.navbar-fixed-top {
         position: inherit;
         @media (min-width: @screen-hs-min) {}
         @media (min-width: @screen-sm-min) {}
         @media (min-width: @screen-md-min) {
            position: fixed;
         }
         @media (min-width: @screen-lg-min) {}
      }

   }
}

.navbar-nav > .active > a {
   background-color: @ch-green;
   @media (min-width: @screen-md-min) {
      color: #aaa;
      background-color: transparent;
      border-bottom: 10px solid #4f8c68;
      padding-bottom: 10px;
   }
}

.navbar-default .navbar-nav > .active > a {
   background-color: @ch-green;
   color: #fff;
   @media (min-width: @screen-md-min) {
      color: #aaa;
      background-color: transparent;
      border-bottom: 10px solid #4f8c68;
      padding-bottom: 10px;
   }
}
.navbar-default .navbar-nav > .active > a:hover {
   background-color: #476DA5;
   color: #fff;
   @media (min-width: @screen-md-min) {
      background-color: transparent;
   }
}

.navbar-nav li {
   @media (min-width: @screen-md-min) {
      padding-left:5px;
      padding-right:5px;
   }
}
.navbar-nav li a:hover {
   -moz-transition: opacity 4s; /* Firefox */
    -webkit-transition: opacity 4s; /* Safari and Chrome */
    -o-transition: opacity 4s; /* Opera */
    transition: opacity 4s;
}
.navbar-header {
   height: 48px;

   @media (min-width: @screen-hs-min) {
      /* rules for mobile horizontal (480 > 768)  */
   }
   @media (min-width: @screen-sm-min) {
      /* rules for tablet (768 > 992) */
      height: 80px;
   }
   @media (min-width: @screen-md-min) {
      /* rules for desktop (992 > 1200) */
   }
   @media (min-width: @screen-lg-min) {
      /* rules for large (> 1200) */
   }
}
.navbar-header a {
   background: url(/assets/img/logo-cohaerentis-104.png)no-repeat;
   width: 180px;
   margin-top: 0;
   background-size: 190px;
   margin-left: -10px;
   height: 48px;
   display: blocK;
   @media (min-width: @screen-hs-min) {}
   @media (min-width: @screen-sm-min) {
      width: 300px;
      height: 80px;
      background-size: 273px;
      margin-left: -15px;
      background-size: 308px;
   }
   @media (min-width: @screen-md-min) {}
   @media (min-width: @screen-lg-min) {}

}
.nav > li > a {
   padding-left: 20px;
   padding-right: 20px;

   @media (min-width: @screen-md-min) {
      padding-right: 5px;
      padding-left: 5px;
   }
}
.navbar-toggle {
   margin-top: 8px;
   @media (min-width: @screen-hs-min) {}
   @media (min-width: @screen-sm-min) {
      margin-top: 24px;
   }
   @media (min-width: @screen-md-min) {}
   @media (min-width: @screen-lg-min) {}

}

.navbar > .container .navbar-brand {
   margin-left: -15px;
   // margin-top: -10px;
}

.navbar-default {
   border: none;
}
.navbar-default .navbar-nav > li > a {
   color: #444;
   @media (min-width: @screen-md-min) {
      color: #aaa;
   }
}
.navbar-default .navbar-nav > li > a:hover {
   color: #eee;
   @media (min-width: @screen-md-min) {
      color: #4F8C68;
   }
}
.navbar-nav {
   margin: 0;
   float:left;
   @media (min-width: @screen-md-min) {
      float: right;
      margin: 25px 50px 0 0;
   }
}

.navbar-collapse {
   box-shadow: none;
   background-color: rgba(213, 214, 214, 1);
   border: 0;
   @media (min-width: @screen-md-min) {
      background-color: transparent;
   }
}

.navbar-collapse ul {
   width: 100%;
   @media (min-width: @screen-md-min) {
      width: auto;
   }
}
.nav > li:hover {
   background-color: @ch-green;
   @media (min-width: @screen-md-min) {
      background-color: transparent;
   }
}




/* ==========================================================================
   Footer
   ========================================================================== */
.footer-link {
   color: @ch-text-color;
   font-weight: bold;
   &:hover{
      color: @ch-blue;
   }
}
.footer {
   background: transparent;
   padding: 10px 0;
   .footer-news {
      img {
         .ch-img;
      }
      margin: 20px 0 0 0;
      a.news-title {
         .footer-link;
      }
      .news-content {
         font-size: 0.8em;
      }
   }
   .footer-address-social {
      margin: 20px 0 0 0;
      text-align: right;
      .footer-social {
         ul {
            .social-icons-inline-right;
            li a { color: @ch-text-color; }
         }
      }
      .footer-address {
         p {
            font-size: 0.8em;
         }
         a {
            .footer-link;
         }
      }
   }
}

/* ==========================================================================
   Bugfixes
   ========================================================================== */

#wpadminbar { top:auto; bottom:0 }
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {margin: 6px 6px 0;}
@media screen and (max-width: 782px) {
   #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img { top: 3px; }
}
@media screen and (max-width: 600px) {
   #wpadminbar { position: fixed; }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
