/* ==========================================================================
   Home
   ========================================================================== */

.home .wrap {
   margin-bottom: 0;
   background-position: -700px;
   height: 450px;
   background: url(/assets/img/background_transparency.jpg) #04080E no-repeat bottom right;

   @media (min-width: @screen-hs-min) {}
   @media (min-width: @screen-sm-min) {
         height: 350px;
   }
   @media (min-width: @screen-md-min) {}
   @media (min-width: @screen-lg-min) {}
}

.home-content {
   margin-left: 15px;
   color: white;
   position: absolute;
   top: 50px;
   /*left: 60px;*/
   overflow: hidden;
   /*min-width: 250px;*/
   max-height: 450px;
   /*min-height: 200px;*/
   background: rgba(21, 25, 40, 0.8);
   padding: 10px;
   @media (min-width: @screen-hs-min) {}
   @media (min-width: @screen-sm-min) {}
   @media (min-width: @screen-md-min) {
      padding: 15px;
   }
   @media (min-width: @screen-lg-min) {}
}
.home-content h1 {
   color: #7AAB7E;
   font-family: Lato;
   @media (max-width: @screen-xs-max) {
      font-size: 2em;
   }
}
.home-content p {
   font-size: 1em;
   font-family: Lato;
   @media (max-width: @screen-xs-max) {
      font-size: 1em;
   }
}

.textwidget { }
