/* ==========================================================================
   Knowledge
   ========================================================================== */
.tn-knowledge-mosaic {
   position: relative;
   // Cool idea from : http://www.tightcss.com/centering/center_variable_width.htm
   .tn-knowledge-mosaic-relative {
      position: relative;
      left: 50%;
      float: left;
      .tn-knowledge-mosaic-wrapper {
         position: relative;
         left: -50%;
         float: left;
      }
   }
   .tn-knowledge-term {
      margin-bottom: 30px;
      width: 160px;
      padding: 0 10px;
      float: left;
      a:hover{
         text-decoration: none;
      }
      img {
         border-radius: 180px;
         border: 1px solid;
      }
      .tn-knowledge-box {
         .icon-box(@width: 140px; @height: 140px; @labelsize: 1em);
      }
      .tn-knowledge-description {
         margin-top: 30px;
         overflow: hidden;
         height: 150px;
      }
   }
}
