/* ==========================================================================
   Mixins
   ========================================================================== */

.ch-img {
   padding: 1px;
   border: 1px solid #a4a8ab;
}
.background-rgba(@color; @opacity) {
   background: rgba(red(@color), green(@color), blue(@color), @opacity);
}
.glyphicons-social-colors {
   &.linked_in{ color: #1B85BD; }
   &.twitter{ color: #55ACEE; }
   &.rss{ color: #FA8502; }
   &.facebook{ color: #3B5998; }
   &.google_plus{ color: #F23F27; }
   &.nameplate_alt{ color: @ch-text-color-light; }
}
.glyphicons-colors {
   &.global{ color: #777; }
}

.social-icons-inline(@align: left; @size: 22px; @margin: 8px) {
   list-style: none;
   padding: 0;
   text-align: @align;
   li {
      display: inline;
      font-size: @size;
      margin-right: @margin;
      a {
         &:hover {
            .glyphicons-social-colors;
            .glyphicons-colors;
         }
      }
   }
}
.social-icons-inline-right(@size: 22px; @margin: 8px) {
   list-style: none;
   padding: 0;
   text-align: right;
   li {
      display: inline;
      font-size: @size;
      margin-left: @margin;
      a {
         &:hover {
            .glyphicons-social-colors;
         }
      }
   }
}

.icon-box (@height: 200px; @width: 200px; @bgcolor: @ch-blue; @color: snow; @labelsize: 1.6em; @labelcolor: @ch-text-color) {
   display: block;
   &:hover,
   a:hover {
      text-decoration: none;
   }
   .box-icon {
      &:hover {
         background-color: @color;
         .glyphicons{
            color: @bgcolor;
         }
      }
      .glyphicons,
      .glyphicons-social,
      .glyphicons-filetypes {
         padding-top: (@width * 0.1);
      }
      font-size: (@width / 2);
      border-radius: (@width - 20px);
      height: @height;
      width: @width;
      margin: 0 auto;
      background-color: @bgcolor;
      text-align: center;
      color: snow;
      display: block;
   }
   .box-label{
      // AEA font-family: Lato-Hairline;
      font-size: @labelsize;
      display: block;
      color: @labelcolor;
      text-align: center;
      margin-top: 8px;
      height: 40px;
   }
}

.icon-special (@size: 50px; @padding: 7px; @iconsize: 34px; @color: snow; @bgcolor: @icon-inline-bg) {
   background-color: @bgcolor;
   padding-left: @padding;
   border-radius: 180px;
   border: 1px solidub @bgcolor;
   color: @color;
   width: @size;
   height: @size;
   font-size: @iconsize;
   display: inline-block;
}

/*
.carousel {
   margin: auto;
   // AEA margin-top: 50px;
   border:1px solid #ccc;
   background-color: snow;
   width: 100%;
   height: 100%;
   @media (min-width: @screen-hs-min) {}
   @media (min-width: @screen-sm-min) {}
   @media (min-width: @screen-md-min) {}
   @media (min-width: @screen-lg-min) {}
   .glyphicons {
      color: @ch-green;
      @media (min-width: @screen-hs-min) {}
      @media (min-width: @screen-sm-min) {}
      @media (min-width: @screen-md-min) {}
      @media (min-width: @screen-lg-min) {}

   }
   figure {
      margin: 25px;
   }
   .carousel-control {
      background-image: none!important;
      width: 25px;
      display: block;
      @media (min-width: @screen-hs-min) {}
      @media (min-width: @screen-sm-min) {}
      @media (min-width: @screen-md-min) {}
      @media (min-width: @screen-lg-min) {}
      i {
         display: inline-block;
         vertical-align: middle;
      }
   }
   .carousel-control:before {
        content: '';
        display: inline-block;
        height: 50%;
      }
}
.carousel-inner ul {
   list-style: none;
   padding-left: 0px;
   @media (min-width: @screen-hs-min) {
      padding: 0px;
   }
   @media (min-width: @screen-sm-min) {
      padding: 0px;
   }
   @media (min-width: @screen-md-min) {}
   @media (min-width: @screen-lg-min) {}
   li{
      padding-right: 10px;
      @media (min-width: @screen-hs-min) {}
      @media (min-width: @screen-sm-min) {
         margin-left: -10px;
      }
      @media (min-width: @screen-md-min) {
         margin-left: 0px;
      }
      @media (min-width: @screen-lg-min) {}
   }
   img {
      width: 75px;
      height: 75px;
      margin: auto;
      @media (min-width: @screen-hs-min) {
         width: 100px;
         height: 100px;
      }
      @media (min-width: @screen-sm-min) {
         margin-top: 10px;
      }
      @media (min-width: @screen-md-min) {}
      @media (min-width: @screen-lg-min) {}

   }
   .item img {
      // display: inline-block;
   }
}
*/


.ch-title{
   color: snow;
   background-color: @ch-green;
   /*border-bottom: 3px solid rgba(255,255,255,0.5);*/
   text-align: center;
   padding-bottom: 20px;
   padding-top: 21px;
   margin: 0;
}
.ch-title-respond{
   .ch-title;
   padding-bottom: 15px;
   padding-top: 10px;
   margin-top: 20px;
   margin-bottom: 10px;
}
.ch-title-comment{
   .ch-title;
   font-size: 20px;
   padding-bottom: 5px;
   padding-top: 5px;
   label{
      font-weight: normal;
   }
}
.ch-title-contact{
   color: snow;
   background-color: @ch-green;
   display: inline-block;
}
.h3{
   color: snow;
   background-color: @ch-green;
   /*border-bottom: 3px solid rgba(255,255,255,0.5);*/
   text-align: center;
   padding-bottom: 5px;
   padding-top: 10px;
   margin: 0;
}
.font-p{
   font-size: 1.2em;
}

.base-color{
   color: @ch-green;
}

.info-marker{
   content: "";
   border-style: solid;
   border-width: 18px;
   width: 0;
   height: 0;
   position: relative;
   margin: auto;
}
.info-marker-down(@color: @ch-green){
   .info-marker;
   border-color: @color transparent transparent transparent;
}
.info-marker-up(@color: @ch-green){
   .info-marker;
   border-color: transparent transparent @color transparent;
}
.italic{
   font-family: Lato-LightItalic;
}

.contact-field{
   .ch-form-label;
}
.ch-form-label{
   background-color: @ch-green;
   color: snow;
   padding-top: 10px;
   padding-bottom: 10px;
}
.ch-button{
   float: right;
   padding: 10px 30px 10px 30px;
   background-color: @icon-box-bg;
   border:  none;
   color: snow;
   border-radius: 0;
   &:hover{
      background-color: @ch-blue;
   }
}
.ch-link{
   a{
      color: @ch-green;
      &:hover{
         color:@ch-blue;
         text-decoration: none;
      }
   }
}
.no-border{
   border: none;
   outline: none;
}

.no-padding { padding: 0;}
.margin-row{
   margin-bottom: 10px;
}
.child{
   margin-left: 50px;
}
.ch-title-blue{
   .ch-title;
   background-color: @ch-blue;
   margin-bottom: 20px;
}
