/* ==========================================================================
   Partner
   ========================================================================== */
/* TODO
.single-partner-social ul {
   list-style: none;
   margin-left: -40px;
   padding-top: 10px;
}
.single-partner-social ul li {
   padding-top: 10px;
}
.single-partner-share ul {
   list-style: none;
}
.single-partner-share ul li {
   float:left;
}
.share {
   position: relative;
   left: 10px;
   top: -7px;
   padding-left: 10px;
}
*/