/* ==========================================================================
   Shortcodes
   ========================================================================== */
.tn-icon-box {
   .icon-box(100px, 100px);
}
.tn-customers-slider {
   margin: 0 0 20px 0;
   .carousel-inner ul {
      list-style: none;
   }
   .carousel-control {
      background: transparent;
      width: 25px;
      display: block;
      vertical-align: middle;
      .glyphicons {
         &.chevron-right{ color: @ch-blue; }
         &.chevron-left{ color: @ch-blue; }
      }
      &:before {
         content: '';
         display: inline-block;
         height: 50%;
      }
   }
}
.tn-gmap {
   iframe {
      border: none;
   }
}


.gallery-row { padding: 15px 0; }
