/* ==========================================================================
   Shortcode: tn-partner-snippet
   ========================================================================== */
.content-partners {
   margin-top: 50px;
}
.content-partners ul {
   list-style: none;
   float: left;
}
.content-partners ul .social {
   float: left;
   padding-right: 5px;
   padding-top: 10px;
}
.content-partners li {
   margin-top: 10px;
}

.content-partners img {
   border-radius: 180px;
   width: 125px;
   height: 125px;
   margin-top: -10px;
}
.content-partners #name {
   font-size: 20px;
   font-weight: bold;
}
.content-partnes #name a {
   color: #000;
}
