/* ==========================================================================
   Shortcode: tn-taxonomy-mosaic
   ========================================================================== */
.tn-taxonomy-term {
   margin-bottom: 50px;
   a:hover{
      text-decoration: none;
   }
   img {
      border-radius: 180px;
      border: 1px solid;
   }
   .tn-taxonomy-box {
      .icon-box();
   }
   .tn-taxonomy-description {
      margin-top: 30px;
      overflow: hidden;
      height: 150px;
   }
}
