/* ==========================================================================
   Variables
   ========================================================================== */

// Bootstrap overwrites
@grid-float-breakpoint:     @screen-md-min;

@ch-font:                   Lato-Regular;
@ch-title-font:             Lato-Light;
@ch-home-font:              Lato-Light;
@ch-person-name-font:       Lato-Light;
@ch-h1-font:                Lato-Regular;
@ch-h2-font:                Lato-Light;
@ch-h3-font:                Lato-Regular;
@ch-h4-font:                Lato-Regular;

@ch-font-size:              15px;
@ch-title-font-size:        2.2em;
@ch-h1-font-size:           2.6em;
@ch-h2-font-size:           2.2em;
@ch-h3-font-size:           1.2em;
@ch-h4-font-size:           1em;

@ch-text-color:             #333;
@ch-text-color-light:       #777;
@ch-text-green:             #7AAB7E;

@ch-green:                  #00B975;
@ch-blue:                   #42669E;

@icon-box-bg:               @ch-blue;
@icon-box-label:            3em;
@icon-box-h:                250px;
@icon-box-w:                250px;

@icon-inline-bg:            #2A5BA3;

@bg-gradient-left:          #E7EBEC;
@bg-gradient-right:         #CED9DB;
@bg-color:                  #D7D7D7;
@bg-home-color:             #04080E;
@bg-header-color:           #151928;
@bg-featured-color:         #CAD2DC;
@bg-header-home-opacity:    60%;
@bg-table-head-color:       snow;
@bg-table-even-color:       #D3D8DB;
@bg-table-odd-color:        transparent;
@bg-table-hover-color:      @bg-featured-color;

@linkedin-color:            #1B85BD;
@twitter-color:             #55ACEE;
@rss-color:                 #FA8502;
@facebook-color:            #3B5998;
@google-color:              #F23F27;

@panel-heading-color:            @ch-green;
@panel-heading-collapsed-color:  #E5E9EA;
@panel-heading-hover-color:      #B7D6D0;

@font-face {
   font-family: Lato-Light;
   src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
   font-family: Lato-Hairline;
   src: url('../fonts/Lato/Lato-Hairline.ttf') format('truetype');
}
@font-face {
   font-family: Lato-LightItalic;
   src: url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
   font-family: Lato-Regular;
   src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}
