/* ==========================================================================
   Variables
   ========================================================================== */

@grid-float-breakpoint:     @screen-md-min;
@ch-green:                  #00B975;
@ch-blue:                   #42669E;
@ch-text-color:             #333;
@base-color:                @ch-green;
@icon-box-bg:               @ch-blue;
@icon-box-label:            3em;
@icon-box-h:                250px;
@icon-box-w:                250px;

@font-face {
   font-family: Lato;
   src: url('../fonts/Lato/Lato-Light.ttf');
}
@font-face {
   font-family: Lato-Hairline;
   src: url('../fonts/Lato/Lato-Hairline.ttf');
}
@font-face {
   font-family: Lato-LightItalic;
   src: url('../fonts/Lato/Lato-LightItalic.ttf');
}
@font-face {
   font-family: Lato-Regular;
   src: url('../fonts/Lato/Lato-Regular.ttf');
}
