
/*.icon-box.somos-img {
   min-width: 150px;
   min-height: 150px;
   position: relative;
   background-color: green;
   text-align: center;

}

.partners-img{
   font-size: 100px;
}*/
/*
.icon-box.icon-box-section {
   min-width: 150px;
   min-height: 150px;
   position: relative;
   background-color: green;

}
.icon-box.icon-box-section a {
   display: block;
   background: transparent;
   font-size: 60px;
   position: absolute;
   top: 50%;
   left: 50%;
}
.icon-box.icon-box-section .icon-box-label {
   width:100%;
}
.icon-box.icon-box-section .icon-box-label p {
   padding: 0;
   margin: 0;
   text-align: center;
}
*/

/* =====================
   página de contacto
   ===================== */
   .contact{
      height: 600px;
   }
   .contact h1{
      font-family: Lato;
      color: #eee;
      background-color: #00B975;
      padding: 10px 0 15px 20px;
   }
   .mandatory{
      font-size: 0.4em;
      color: white;
      font-family: Lato-LightItalic;
      margin-left: 200px;
   }
   .form{
      border: none;
      height: 40px;
   }
   .form:active{
      border: none;
      height: 40px;
   }
   .form div{
      margin-top: 15px;
   }

   .form .box-title{
      background-color: #00B975;
      height: 45px;

   }
      .form .box-title span{
         color: #eee;
         font-size: 1.2em;
         position: relative;
         top: 25%;
      }
   .formmsg .box-title-msg{
      background-color: #00B975;
      height: 45px;

   }
      .formmsg .box-title-msg p{
         color: #eee;
         font-size: 1.2em;
         position: relative;
         top: 25%;
         text-align: center;
      }
   .form .box-text{
      border: 1px solid #999;
      border-left: none;
      background-color: white;
      height: 45px;
      font-family: Lato-LightItalic;
   }
   .formmsg{
      top: 155px;
   }
  .formmsg textarea{
      border: 1px solid #999;
      border-top: none;
      width: 100%;
   }

   .form-button{
      margin-top: 170px;
      margin-left: 380px;
   }

   .form-button input{
      margin-left: 25px;
      border: none;
      background-color: transparent;
      color: white;
   }
   div.wpcf7 {
      margin-left: -15px;
      margin-right: -15px;
   }
   .su-gmap{
      margin-top: 20px!important;
   }
/* =========fin========= */



/* ==========================================================================
   Base
   ========================================================================== */
#team-text{
   width: 200px;
}
#team-text{
   width: 200px;
}




/* ==========================================================================
   Bugfixes
   ========================================================================== */

#wpadminbar { top:auto; bottom:0 }
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {margin: 6px 6px 0;}
@media screen and (max-width: 782px) {
   #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img { top: 3px; }
}
@media screen and (max-width: 600px) {
   #wpadminbar { position: fixed; }
}

/* ==========================================================================
   Debug sidebars
   ========================================================================== */
.wp-sidebar {
   /*border: dashed 2px red;*/
}

/* TO REVIEW */

/* =============================================================================
   Header
   ========================================================================== */



/* ==========================================================================
   Content
   ========================================================================== * /



/* ==========================================================================
   Primary Content
   ========================================================================== * /




/* ==========================================================================
   Topbar
   ========================================================================== */


/* ==========================================================================
   Sidebar
   ========================================================================== * /


/* ==========================================================================
   Posts
   ========================================================================== * /


/* ==========================================================================
   Footer: AAA
   ========================================================================== */


/* ==========================================================================
   Tematicas
   ========================================================================== * /



/* ==========================================================================
   Tweets
   ========================================================================== * /


/* ==========================================================================
   YouTube Mosaic
   ========================================================================== * /


/* ==========================================================================
   Plugin : CTC
   ========================================================================== * /


/* ==========================================================================
   Pestañas
   ========================================================================== * /


/* ==========================================================================
   Contacto
   ========================================================================== * /


/* ==========================================================================
   Responsive Slider
   ========================================================================== * /


/* ==========================================================================
   Media Queries
   ========================================================================== * /





 /* Large desktop */

@media (min-width: 1200px) {
   .single-person-contact h2{
      /*font-size: 2.5rem;*/
   }
   .single-person-qr img {
      /*width: 67%;*/
      height: auto;
      /*margin-top: 65px;*/
   }
   .single-person-social ul li span{
    }
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 991px){
    .acord-person{
   }
}
@media (max-width: 991px) {
   .person-tabs{
      display: none;
   }
   .bg-home img{
      margin-left: -350px;
   }
   .single-person-contact .name{
   }
   .single-person-qr img{
   }
   .text{
      display: none;
   }
   .single-person-social a.fa{
      font-size: 60px;
      padding-top: 0px;
   }
   .single-person-social a.glyphicon{
      font-size: 51px;
      padding-top: 0px;
      top: 5px;
   }
   .single-person-social {
      margin-top: 0px;
   }
   .single-person-social li {
      float: left;
      margin-left: 10px;
   }
}

/* Landscape phone to portrait tablet */

@media (max-width: 768px) {
   .bg-home img{
      margin-left: -450px;
   }
   .navbar > .container .navbar-brand {
      margin-left: -15px;
      margin-top: -5px;
   }
}

/* Landscape phones and down */

@media (max-width: 480px) {
   .navbar > .container .navbar-brand {
      margin-left: -15px;
      margin-top: -5px;
   }
   .bg-home img{
      margin-left: -650px;
   }
   .acord-person .su-spoiler-title{
      font-size: 14px;
   }
   .single-person-social a.fa {
      font-size: 40px;
      padding-top: 0px;
   }

}

